:root{
    --color_1:rgb(229, 192, 27);
    --fuente_1:Arial, Helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
/*----------------------HEADER---------------------*/
header{
    background-color: var(--color_1);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 5;
}

header .logo_count{
    width: max-content;
    padding: 10px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    float: left;
}
header .logo_img{
    display: block;
    height: 40px;
    display: block;
    border-radius: 50%;
}
header .logo_nombre{
    color: white;
    display: block;
    font-size: 20px;
    font-family: var(--fuente_1);
}

header nav{
    float: right;
    height: 100%;
    width: max-content;
}

header nav ul{
    width: max-content;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
header nav li{
    list-style: none;
    margin: 5px;
}
header nav li a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-family: var(--fuente_1);
    border-radius: 5px;
}
header nav li a:hover{
    background-color: rgb(201, 169, 24);
}

header .icono_perfil_count{
    width: max-content;
    float: right;
    padding: 10px;
}
header .icono_perfil_img{
    display: block;
    height: 40px;
    display: block;
    border-radius: 50%;
}

#check{
    display: none;
}
.check_label{

    display: none;
}
@media (max-width:600px) {
    header nav{
        background-color: rgb(63, 63, 63);
        width: 100%;
        height: max-content;
    }
    header nav ul{
        width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
    }
    header nav li{
        padding: 10px 2px;
    }
    header nav li a:hover{
        background-color: black;
    }

    #check:checked ~ nav{
        display: none;
    }
    .check_label{
        width: max-content;
        height: 100%;
        float:right;
        display: flex;
        align-items: center;
        justify-self: center;
        display: flex;
    }
    .check_label *{
        color: white;
        font-family: var(--fuente_1);
        font-size: 25px;
        padding: 5px;
        cursor: pointer;
    }

}
/*----------------------MAIN------------------------------*/
main{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    font-family: var(--fuente_1);
}
/*---------------------FOOTER-----------------------------*/
footer{
    background-color: rgb(219, 219, 219);
    padding: 15px;
    margin-top: 20px;
}
footer .ft-1{
    background-color: aqua;
}
footer .ft-1 .footer-logo{
    width: max-content;
    float: left;
    display: flex;
    align-items: center;
    gap: 5px;
}
footer .ft-1 .footer-logo small{
    font-family: var(--fuente_1);
}
footer .ft-1 .footer-logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
footer .ft-2{
    padding: 10px;
    width: max-content;
    margin: auto;
}


.footer-redes{
    display: flex;
    float: right;
    gap: 5px;
}
.footer-redes img{
    opacity: .2;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
